@import "./preflight.css";
@import "remixicon/fonts/remixicon.css";

html {
    scroll-behavior: smooth;
    font-family: Arial;
}

/* GLOBAL */
a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}


button:active {
    outline: none;
}

button:focus-visible {
    outline: 1px solid inherit;
}
/* button:hover {
    outline: 1px solid inherit;
} */

/* button:hover {
    outline: none;
} */

button:focus:not(:focus-visible) {
    outline: none;
}

textarea::placeholder { font-weight: 100; }

/* THEME */
.light-theme {
    background-color: white;
    color: black;
    textarea, input { color: black; }
    nav {
        color: #222;
    }
    nav .me {
        background: linear-gradient(90deg, indigo, rgb(242, 242, 242), indigo);
    }
    nav a:hover, 
    nav a:focus,
    nav a.active {
        border-bottom: solid 2px brown;
        color: black;
    }
    nav a:active { color: black; }
    .dd-menu {
        background-color: rgba(250, 250, 250, 1); 
        button { border-bottom: solid 2px transparent; }
        button:hover { border-bottom: solid 2px brown; }
    }

    .new-message {
        background-color: white;
        color: black;
    }

    .friends-list {
        background-color: white;
        h3 { background-color: whitesmoke; }
    }

    textarea::placeholder { color: green }


    footer {
        ul li { color: var(--blue-7); }
    }
}

.dark-theme {
    background-color: black;
    color: white;
    button { color: white; }
    textarea, input { color: black; }
    nav { color: white; }
    .links i { color: white; }
    nav .me {
        background: linear-gradient(90deg, gold, rgb(55, 55, 55), gold);
    }
    nav a:hover,
    nav a:focus,
    nav a.active {
        border-bottom: solid 2px red; 
        color: yellow; 
    }
    nav a:active { color: yellow; }
    .dd-menu {
        background-color: rgba(22, 22, 22, 1);
        button { border-bottom: solid 2px transparent; }
        button:hover {
            border-bottom: solid 2px red;
            color: yellow; 
        }
    }
    .new-message {
        background-color: black;
        color: white;
    }

    .friends-list {
        background-color: black;
        h3 { background-color: #222; }
    }

    textarea::placeholder { color: gold }

    footer {
        ul li { color: gold; }
    }
}


/** CUSTOM SCROLLBAR */
::-webkit-scrollbar { width: 10px; }
/* Track */
::-webkit-scrollbar-track { background: transparent; }
/* Handle */
::-webkit-scrollbar-thumb { background: #888; border-radius: 50px; }
/* Handle on hover */
::-webkit-scrollbar-thumb:hover { background: #555; }